.dead-screen {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;

    height: 100vh;
    display: none;
    z-index: 50;
}
.hidden {
    opacity: 0;
}
.console-container {
    font-size: 10em;
    text-align: center;
    height: 200px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: absolute;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.console-underscore {
    display: inline-block;
    position: relative;
}
.show {
    display: block;
}
